h1{
    padding: 20px;
    text-align: center;
}
h1 > a{
    text-decoration: none;
    color: #333333;
}
h1 > a:hover{
    color: #333333;
}
ul,li{
    list-style: none;
}

/* login form */
form{
    width: 450px;
    margin: 0 auto;
    padding-top: 30px;
    border: 1px solid #ccc;
    border-radius: 20px;
}
li{
    margin-top: 10px;
}
label{
    width: 100px;
    height: 29px;
    line-height: 29px;
    font-size: 15px;
    color: #333333;
    font-weight: 600;
    vertical-align: middle;
    text-align: center;
}
input{
    width: 200px;
    height: 30px;
    font-size: 12px !important;
    margin-top: 20px;
}
input:focus{
    outline: 1px solid #308752;
}

div#idPop, div#pwPop, div#namePop{
    width: 400px;
    text-align: center;
    color: red;
}

div#pwChkErr{
    color: red;
    text-align: center;
}
div.btnBox{
    width: 300px;
    margin: 25px 45px;
    text-align: center;
}