h1{
    text-align: center;
    margin: 0px auto;
    padding: 20px;
}
h1 > a{
    color: #308752;
    text-decoration: none;
}
h1 > a:hover{
    color: #308752;
}

/* login form */
form{
    width: 450px;
    height: 350px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 20px;
}
.login_box{
    width: 380px;
    margin: 20px auto;
}
input{
    width: 100%;
    height: 36px;
    border: 1px solid #ccc;
    font-size: 16px;
}
input:first-child{
    margin-top: 50px;
    border-radius: 5px 5px 0 0;
}
input:last-child{
    border-radius: 0 0 5px 5px;
    border-top: none;
}
input.idfocus:focus {
    outline: none;
    border: 1px solid #308752;
}
input.pwfocus:focus{
    outline: none;
    border: 1px solid #308752;
}
.login_subBox{
    width: 245px;
    margin: 20px auto;
}
.login_subBox > p{
    color: red;
    margin-top: 20px;
    text-align: center;
} 
a.login_a{
    font-size: 14px;
    display: inline-block;
    color: #333;
    text-decoration: none;
}
a.login_a:hover{
    color: #308752;
    cursor: pointer;
}

/* button */
.loginBtn_box{
    width: 300px;
    margin: 30px auto;
}
.loginBtn_box > button{
    width: 300px;
}