/* form */
form{
    width: 450px;
    margin: 40px auto;
    border-radius: 20px;
}
label{
    width: 100px;
    height: 29px;
    line-height: 29px;
    font-size: 15px;
    color: #333333;
    font-weight: 600;
    vertical-align: middle;
    text-align: center;
}
input{
    width: 200px;
    height: 30px;
    font-size: 12px !important;
    margin-top: 20px !important;
}
input:focus{
    outline: 1px solid #308752;
}
div#idPop, div#pwPop, div#namePop{
    width: 400px;
    text-align: center;
    color: red;
}

div#pwChkErr{
    color: red;
    text-align: center;
}
li.uId{
    font-size: 24px;
    text-align: center;
    font-weight: 700;
}

/* 팝업 */
div#outPop{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
    background-color: #ffffff;
}

/* button */
div#btnBox{
    margin: 40px auto 0px;
    width: 377px;
}

div#btnBox > button > a{
    color: #ffffff;
}